@import "~@angular/material/prebuilt-themes/indigo-pink.css";
span,
h1,
h2,
h3,
h4 {
  font-family: 'Lato', sans-serif;
}

@media (min-width: 360px) and (max-width: 500px) {
  img {
    width: 100%;
  }
  .contact-us-form>* {
    width: 100%;
  }
  p,
  span,
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
}

@media (min-width: 500px) {
  img {
    width: 30%;
  }
  .contact-us-form>* {
    width: 100%;
  }
  .banner-image {
    display: none;
  }
}

[mat-stroked-button].nav-select-button {
  width: 160px;
  height: 60px;
}

[mat-flat-button].nav-close-button {
  width: 100%;
  height: 60px;
}

button[mat-flat-button].nav-menu-top {
  height: 60px;
}

.full {
  width: 100%;
}

.nav-top-header {
  height: 50px !important;
}
