html {
    font-family: 'Lato', sans-serif;
}

#copy-home {
    p {
        text-align: left;
    }

    #body {
        @media (min-width: 360px) and (max-width: 500px) {
            img {
                width: 100%;
            }
            h1, h2, h3, h4 {
                text-align: left;
            }
    
            p {
                text-align: left;
            }
        }
    
        @media (min-width: 500px) {
            img {
                width: 30%;
            }
        }
    }
}

#copy-services, #copy-about_us, #copy-contact_us {
    p {
        text-align: left;
    }

    #body {
        @media (min-width: 360px) and (max-width: 500px) {
            img {
                width: 100%;
            }
            h1, h2, h3, h4 {
                text-align: center;
            }
    
            p {
                text-align: center;
            }
        }
    
        @media (min-width: 500px) {
            img {
                width: 30%;
            }
        }
    }
}

#footer {
    p {
        text-align: center;
    }
}

@media (min-width: 360px) and (max-width: 500px) {
    .example-container {
        display: flex;
        flex-direction: column;
      }
      
    .example-container > * {
        width: 100%;
    }
} 

@media (min-width: 500px) {
    .example-container {
        display: flex;
        flex-direction: column;
      }
      
    .example-container > * {
        width: 300px;
    }
}

