<mat-sidenav-container class="app-container" (backdropClick)="close()">
  <mat-sidenav color="primary" mode="push" #sidenav (keydown.escape)="close()" disableClose>
    <app-menubar></app-menubar>
  </mat-sidenav>
  <mat-sidenav-content class="">
    <div class="clearfix">
      <button color="primary" class="float-left nav-menu-top" mat-flat-button (click)="sidenav.open()">
        <i class="material-icons">menu</i>
      </button>
    </div>
    <img id="header" class="img-fluid full" [attr.src]="image.url" [attr.alt]="image.name" />
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
